<div class="results-wrapper">


  <div class="main-results-container">
    <div class="results-container text-center">

      <h3>Our selection of treehouses</h3>
      <p>The time to relax is when you don't have time for it</p>
      <div class="results-filter">
        <h5 class="filters-names">Stay in</h5>
        <h5 class="filters-values"><%= params[:treehouses][:location] %></h5>
        <h5 class="filters-names"> from</h5>
        <h5 class="filters-values"><%= params[:treehouses][:checkin] %></h5>
        <h5 class="filters-names"> to</h5>
        <h5 class="filters-values"><%= params[:treehouses][:checkout] %></h5>
        <h5 class="filters-names"> for</h5>
        <h5 class="filters-values"><%= params[:treehouses][:guests_number] %></h5>
        <h5 class="filters-names">guests</h5>
        <%= link_to 'Change filters', root_path, class: 'filters-change' %>
      </div>

      <div class="results-cards">
        <% @treehouses.each do |treehouse| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to treehouse_path(treehouse) do %>
          <div class="results-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path treehouse.photo, height: 300, width: 400, crop: :fill if treehouse.photo.present? %>');">
          </div>
          <div class="results-detail">
            <h4><%= treehouse.title %></h4>
            <p><span class="light-words">from </span><%= treehouse.price_per_night %>€/night</p>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>

    </div>

    <div id="results-map"></div>

  </div>



</div>



