<div class="results-wrapper">


  <div class="main-results-container">
    <div class="results-container text-center">

      <h3>Our selection of treehouses</h3>
      <p>The time to relax is when you don't have time for it</p>
      <%= render "shared/form_index" %>

      <div class="results-cards">
        <% @treehouses.each do |treehouse| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to treehouse_path(treehouse, treehouse_checkin: params[:treehouses][:checkin].first, treehouse_checkout: params[:treehouses][:checkout].first, treehouse_guests_number: params[:treehouses][:guests_number], treehouse_price_per_night: params[:treehouses][:price_per_night]) do %>
          <div class="results-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path treehouse.photo, height: 300, width: 400, crop: :fill if treehouse.photo.present? %>');">
          </div>
          <div class="results-detail">
            <h4><%= treehouse.title %></h4>
            <p><span class="light-words">from </span><%= treehouse.price_per_night %>€/night</p>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>

    </div>

    <div id="map" data-markers="<%= @markers.to_json %>"></div>

  </div>

</div>



