<div class="container">
  <div class="row">
    <div class="col-sm-12 col-sm-4">

      <h2 class="text-center">Create a new treehouse</h2>
      <%= simple_form_for(@treehouse) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :price_per_night %>
        <%= f.input :capacity %>
        <%#= f.input :photo %>
        <%= f.submit "Create!", class: "btn btn-primary form-control" %>
      <% end %>
    </div>
  </div>
</div>
