<div class="card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @treehouse.photo if @treehouse.photo.present? %>');">
  <h1><%= @treehouse.title %></h1>
</div>
<!-- content -->

<div class="main-container">
  <div class="treehouse-details">
    <h3>Categories</h3>
    <p><%= @treehouse.category.split.map(&:capitalize).join(' - ') %></p>
    <hr>
    <h3>Description</h3>
    <%= @treehouse.description %>
  </div>

  <div class="journey-request">

    <!-- bid part -->
    <div class="bidding-part text-center">
      <div class="price">
        <p id="price_per_night"><%= @treehouse.price_per_night%>€ per night</p>
      </div>

      <%= simple_form_for @journey, :url => treehouse_journeys_path(@treehouse), :method => :post, html: {class: 'form-inline custom-select2'} do |f| %>
      <div class= "form-show-date-wrapper">
        <label class="label-show"><span>Start date</span></label>
        <% start_date = Date.parse(params["treehouse_checkin"]) unless params["treehouse_checkin"].blank? %>
        <%= f.input :checkin, as: :string, required: false, input_html: { id: "range_start", class: "form-show-date", class: "datepicker text-center white", value: start_date }, label: false, placeholder: "CheckIn" %>
      </div>
      <div class= "form-show-date-wrapper">
        <label class="label-show"><span>End date</span></label>
        <% end_date = Date.parse(params["treehouse_checkout"]) unless params["treehouse_checkout"].blank? %>
        <%= f.input :checkout, as: :string, required: false, input_html: { id: "range_end", class: "form-show-date", class: "datepicker text-center white", value: end_date }, label: false, placeholder: "CheckOut" %>
      </div>
      <div class= "form-show-date-wrapper">
        <label class="label-show text-center"><span>Guests</span></label>
        <%= f.input :guests_number, :collection => [1, 2, 3, 4], label: false, prompt: "Guests", selected: params["treehouse_guests_number"], input_html: { style: "width: 50px", class: "text-center" } %>
      </div>

      <br>
      <div id="total_price">
      </div>
      <div class= "form-show-button-wrapper">
        <%= f.button :submit, "Reservation Request", class: "btn form-show-button" %>
      </div>
      <% end %>
    </div>
    <!-- fin input bid -->

  </div>
</div>

<%= content_for(:after_js) do %>
<% end %>


