
<div class="card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @treehouse.photo if @treehouse.photo.present? %>');">
    <h1><%= @treehouse.title %></h1>
</div>
<!-- content -->
<div class="wrapper-content">
  <div class="container">
    <div class="row col-md-8">
      <div class="tabs">
        <a class="tab active col-xs-12 col-sm-6 col-md-3" href="#description">
          <p>Description</p>
          <h3></h3>
        </a>
        <a class="tab col-xs-12 col-sm-6 col-md-3" href="#equipment">
          <p>Equipment</p>
          <h3></h3>
        </a>
        <a class="tab col-xs-12 col-sm-6 col-md-3" href="#location">
          <p>Location</p>
          <h3></h3>
        </a>
        <a class="tab col-xs-12 col-sm-6 col-md-3" href="#comments">
          <p>Comments</p>
          <h3></h3>
        </a>
      </div>
      <div class="container">
        <div class="row col-md-8">
        <a id="infos"></a>
          <div class="infos">
            <h2>Description</h2>
            <p><%= @treehouse.description %></p>

            <h3>Housing</h3>
            <p>Housing type : Toolshed</p>
            <p>Capacity : <%=  @treehouse.capacity %></p>
            <p>Bedrooms : 2</p>
            <p>Bathroom : 1</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8">
            <i class="fa fa-home col-xs-3" aria-hidden="true"></i>
            <i class="fa fa-users col-xs-3" aria-hidden="true"></i>
            <i class="fa fa-bed col-xs-3" aria-hidden="true"></i>
            <i class="fa fa-tint col-xs-3" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="des-values col-xs-12 col-sm-12 col-md-8">
            <h4 class="col-xs-3">Toolshed</h4>
            <h4 class="col-xs-3"><%=  @treehouse.capacity %> people</h4>
            <h4 class="col-xs-3">2 rooms</h4>
            <h4 class="col-xs-3">1 bath</h4>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row col-md-8">
        <a id="equipment"></a>
          <div class="equipment">
            <div class="equipment-title"><h2>Equipment</h2>
            </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <p><i class="fa fa-wifi" aria-hidden="true"> Wifi</i></p>
                <p><i class="fa fa-television" aria-hidden="true"> TV</i></p>
                <p><i class="fa fa-bicycle" aria-hidden="true"> Vélos</i></p>
                <p><i class="fa fa-thermometer-quarter" aria-hidden="true"> Temperature warning</i></p>
                <p><i class="fa fa-handshake-o" aria-hidden="true"> Concierge services</i></p>
                <p><i class="fa fa-car" aria-hidden="true"> Car</i></p>
                <p><i class="fa fa-cutlery" aria-hidden="true"> Kitchen</i></p>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4">
                <p><i class="fa fa-beer" aria-hidden="true"> Bars</i></p>
                <p><i class="fa fa-building" aria-hidden="true"> Apartment</i></p>
                <p><i class="fa fa-cab" aria-hidden="true"> Taxis</i></p>
                <p><i class="fa fa-child" aria-hidden="true"> Children garden</i></p>
                <p><i class="fa fa-desktop" aria-hidden="true"> Internet</i></p>
                <p><i class="fa fa-hourglass-2" aria-hidden="true"> Timer</i></p>
                <p><i class="fa fa-lock" aria-hidden="true"> Security</i></p>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4">
                <p><i class="fa fa-map" aria-hidden="true"> Map</i></p>
                <p><i class="fa fa-glass" aria-hidden="true"> Restaurants</i></p>
                <p><i class="fa fa-ship" aria-hidden="true">Boats</i></p>
                <p><i class="fa fa-snowflake-o" aria-hidden="true"> Air Conditionner</i></p>
                <p><i class="fa fa-shopping-bag" aria-hidden="true"> Shopping center</i></p>
                <p><i class="fa fa-suitcase" aria-hidden="true"> Luggages</i></p>
                <p><i class="fa fa-university" aria-hidden="true"> Historical sites</i></p>
              </div>
            </div>
          </div>
        </div>
      <div class="container">
        <div class="row col-md-8">
        <div class="location">
        <a id="location"></a>
        <!-- <div class="locat"> -->
          <h2>Location</h2>
          <p><%= @treehouse.location %></p>

          <h2>Price</h2>
          <p><%= @treehouse.price_per_night %> <strong>: Euros</strong></p>
          </div>
       </div>
      </div>
      <div class="container">
        <div class="row col-md-8">
        <a id="comments"></a>
        <h2>Comments</h2>
          <ul class="inbox">
            <li class="message">
              <%= image_tag "gab.png", class: "avatar_sm"%>
              <div class="message_name">
                <h2>Gab Dehan</h2>
                <p>10/07/17</p>
              </div>
              <div class="message_body">
                <h4><strong>I am not sure yet!</strong></h4>
                <p>I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?</p>
              </div>
            </li>
            <li class="message">
              <%= image_tag "cecile.png", class: "avatar_sm"%>
              <div class="message_name">
                <h2>Cecile Veneziani</h2>
                <p>23/09/17</p>
              </div>
              <div class="message_body">
                <h4><strong>I’ll be glad to welcome you in my cosy flat</strong></h4>
                <p>I’ll be glad to welcome you in my cosy flat in Lille. When are you arriving exactly?</p>
              </div>
            </li>
            <li class="message">
              <%= image_tag "jad.png", class: "avatar_sm"%>
              <div class="message_name">
                <h2>Jad Joubran</h2>
                <p>19/08/17</p>
              </div>
              <div class="message_body">
                <h4><strong>Hey man! I'm sorry...</strong></h4>
                <p>Hey man! I'm sorry... I'll be in Amsterdam at these dates.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
<!-- bid part -->
    <div class="bidding-part col-md-4 text-center">
      <div class="price">
        <p id="price_per_night"><%= @treehouse.price_per_night%>€ per night</p>
      </div>
      <%= simple_form_for @journey, :url => treehouse_journeys_path(@treehouse), :method => :post, html: {class: 'form-inline custom-select2'} do |f| %>
      <div class= "form-show-date-wrapper">
        <label class="label-show"><span>Start date</span></label>
        <% start_date = Date.parse(params["treehouse_checkin"]) unless params["treehouse_checkin"].blank? %>
        <%= f.input :checkin, as: :string, required: false, input_html: { id: "range_start", class: "form-show-date", class: "datepicker text-center white", value: start_date }, label: false, placeholder: "CheckIn" %>
      </div>
      <div class= "form-show-date-wrapper">
        <label class="label-show"><span>End date</span></label>
        <% end_date = Date.parse(params["treehouse_checkout"]) unless params["treehouse_checkout"].blank? %>
        <%= f.input :checkout, as: :string, required: false, input_html: { id: "range_end", class: "form-show-date", class: "datepicker text-center white", value: end_date }, label: false, placeholder: "CheckOut" %>
      </div>
      <div class= "form-show-date-wrapper">
        <label class="label-show"><span>Guests</span></label>
        <%= f.input :guests_number, :collection => [1, 2, 3, 4], label: false, prompt: "Guests", selected: params["treehouse_guests_number"] %>
      </div>
      <br>
      <div id="total_price">
      </div>
      <div class= "form-show-button-wrapper">
      <%= f.button :submit, "Reservation Request", class: "btn form-show-button" %>
      </div>
      <% end %>
    </div>
<!-- fin input bid -->
  </div>
</div>


