<div class="container">

      <h1>Your Dashboard</h1>

      <!-- Code your tabs here -->

      <div class="tabs">
        <a href="#" class="tab active">I'm Traveling</a>
        <a href="#" class="tab">I'm Hosting</a>
      </div>

      <ul class="inbox">
        <% @journeys.each do |journey| %>
        <li class="message">
          <!-- Code your message here -->
          <img src="https://kitt.lewagon.com/placeholder/users/abszam79" class="avatar_sm">
          <div class="message_name">
            <h2><strong><%= journey.treehouse.user.email.split("@")[0].capitalize %></strong></h2>
            <h2><%= journey.treehouse.location %></h2>
          </div>
          <div class="dates">
            <h4>Check-In - Check-Out</h4>
            <p><%= journey.checkin %>   -   <%= journey.checkout %></p>
          </div>
          <div class="guests">
            <h4>Guests number</h4>
            <p><center><%= journey.guests_number %></center></p>
          </div>
          <div class="message_status text_greylight">
            <h4 class="status text_greylight">
              <% if journey.is_confirmed %>
                <div class="accepted"><%= "Accepted" %></div>
                <% else %>
                <div class="declined"><%= "Pending" %></div>
                <% end %>
              </h4>
            <h4 class="price"><%= journey.total_price %>€</h4>
          </div>
          <div class="message_body">
            <%= link_to "Contact Host", "", class: "btn btn-success" %>
          </div>
        </li>
        <% end %>
      </ul>

    </div>


    <!--  class css visible -->
    <!-- donner id à tous les elements -->
    <!-- mettre en variable chaque tab(titre) -->
    <!-- ajouter eventlistener sur chaque tab qui exrec fction -->
    <!-- definir fonction -->
    <!-- enleve la visi à tous et rajoute a celle qui nous interesse -->



