<div class="container">
  <h1><%= @current_user.email.split("@")[0].capitalize %>'s Dashboard</h1>

  <div class="tabs">
    <a href="#" class="guest tab tab-guest active">I'm Traveling</a>
    <a href="#" class="host tab tab-host">I'm Hosting</a>
  </div>

  <div class="row">
    <div class="inbox-guest" id="guest">
      <ul class="inbox">
        <% @journeys.each do |journey| %>
        <li class="message">
          <!-- Code your message here -->
          <img src="https://kitt.lewagon.com/placeholder/users/lionel-k" class="avatar_sm">
          <div class="message_name">
            <h2><strong><%= journey.treehouse.user.email.split("@")[0].capitalize %></strong></h2>
            <h2><%= journey.treehouse.location %></h2>
          </div>
          <div class="dates">
            <h4>Check-In - Check-Out</h4>
            <p><%= journey.checkin %>   -   <%= journey.checkout %></p>
          </div>
          <div class="guests">
            <h4>Guests number</h4>
            <p><center><%= journey.guests_number %></center></p>
          </div>
          <div class="message_status text_greylight">
            <h4 class="status text_greylight">
              <% if journey.is_confirmed %>
              <div class="accepted"><%= "Accepted" %></div>
              <% else %>
              <div class="declined"><%= "Pending" %></div>
              <% end %>
            </h4>
            <h4 class="price"><%= journey.total_price %>€</h4>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="inbox-host" id="host">
      <ul class="inbox">
        <% my_hostings = Journey.hostings(current_user) %>
        <% my_hostings.each do |journey| %>
        <li class="message">

          <!-- <img src="https://kitt.lewagon.com/placeholder/users/bpaillard" class="avatar_sm"> -->

          <div class="message_name">
            <h2></h2>
            <h2><strong><%= journey.user.email.split("@")[0].capitalize %></strong></h2>
          </div>

          <div class="dates">
            <h4>Check-In - Check-Out</h4>
            <p><%= journey.checkin %>   -   <%= journey.checkout %></p>
          </div>

          <div class="guests">
            <h4>Guests number</h4>
            <p><center><%= journey.guests_number %></center></p>
          </div>

          <div class="message_status text_greylight">
            <h4 class="status text_greylight">
              <% if journey.is_confirmed %>
              <div class="accepted"><%= "Accepted" %></div>
              <% else %>
              <div class="declined"><%= "Pending" %></div>
              <% end %>
            </h4>

            <h4 class="price"><%= journey.total_price %>€</h4>
          </div>

          <div class="message_body">
            <%= link_to "Accept!", validate_journey_path(journey, status: 'accepted'), class: "btn green btn-success" %>
            <p></p>
            <%= link_to "Decline", validate_journey_path(journey, status: 'declined'), class: "btn green btn-danger" %>
          </div>

        </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
